.comment-upper {
    display: block;
    width: 90%;
    margin: 0 auto;
    clear: both;
    padding-top: 50px;
}

.comment-upper-left {
    display: inline-block;
    vertical-align: top;
}

.comment-upper-right {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    float: right;
}

.comment-author {
    margin: 12px 0 0;
}

.comment-author-text {
    display: inline-block;
    vertical-align: top;
    padding: 4px 10px;
}

.comment-author-image-wrap {
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #b6b6b6;
}

.comment-author-name {
    display: block;
    font-size: 16px;
}

.comment-author-name:hover {
    color: #aaa;
}
