
.lemma-panel {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: @light;
  padding: 20px 30px;
  height: 100%;
  .transition(all 300ms ease-out);
  transform: translateX(100%) translateZ(0);
  min-width: 200px;
  max-width: 630px;
	width:42%;

  &.extended {
    transform: translateX(0%) translateZ(0);

    .close-lemma-panel {
      display: block;
    }

  }

  .lemma-text-wrap {
    margin: 80px 0 10px;
    padding: 10px 30px 10px 0;
    height: 83%;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    // Style the derpy default scrollbar
    &::-webkit-scrollbar {
      width: 8px;
    }
    // Track
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #ddd;
      -webkit-border-radius: 2px;
      border-radius: 2px;
    }

    // Handle
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background: @third-text;
      -webkit-box-shadow: inset 0 0 6px @secondary-text;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: #999;

    }

  }

  .lemma-line {
    width: 100%;
    padding: 0;

    &.highlighted {
      .lemma-text {
	      background: #def9fc;
				border-bottom:1px solid #def9fc;
      }
    }

    .lemma-text {
      display: inline-block;
      vertical-align: top;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.7);
      border-bottom: 1px solid @light;
			padding:4px 5px;

    }
    .lemma-meta {
      display: inline-block;
      vertical-align: top;
      width: 30px;
      text-align: right;
      padding: 0 10px 0 0;

      span {
        font-size: 14px;
        text-align: right;

      }

    }

  }

  .md-button {
    display: inline-block;
    padding: 5px 10px;
    line-height: 1.3em;
    min-height: 0;
    margin: 5px;
    max-width: 200px;
    text-overflow: ellipsis;

    span {
      font-family: @font-label;
      font-size: 14px;
    }

    &.selected-edition-tab {
      background: @primary;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      margin: 3px;
      color: @light;
      span {
        color: @light;

      }
      &:focus {
        background: @primary-dark;
      }

    }

  }

  .edition-tabs, .meta-tabs {
    display: inline-block;
    vertical-align: top;
    padding: 0;

  }

  .lemma-load {
    padding: 10px 0 10px 30px;

  }

  .close-lemma-panel {
    top: 90px;
    left: -26px;
    font-size: 22px;
    background: #eee;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 7px 10px;
    display: none;
		position:absolute !important;
		background:@light !important;
		border-radius:100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;

    &:hover, &:focus {
      opacity: 1;
      background: #ddd;
    }

  }

}

.lemma-reference-modal {
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;
  display: none;
  z-index: 90;

  &.lemma-reference-modal-visible {
    display: block;
  }

  .comment {
    width: auto;
    border: none;
    margin: 0;
    padding: 20px 30px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    width: 500px;

    p.lemma-text {
      padding: 5px;
      font-size: 18px;
    }

    .context-tabs, .edition-tabs {
      padding-top: 10px;
    }

    button span {
      font-size: 12px;
    }
  }

  .lemma-reference-text {
    max-height: 168px;
    overflow-y: scroll;
    border-bottom: 1px solid #eee;
  }

  .mdi-close {
    border-radius: 50%;
    background: @light;
    padding: 10px;
    font-size: 22px;
    position: absolute;
    top: -10px;
    right: -15px;
    cursor: pointer;

    &:hover {
      background: #eee;
    }

    &:focus {
      outline: none;
      border: none;
    }

  }

}

.before-link, .after-link {
	.light {
		button > div {
			background:@md-primary;
			span, i {
				color:@light !important;
			}
		}
	}
}
