.addTooltipButton {
	margin: 0 5px;
	border: 1px solid #666;
	border-radius: 100%;
	width: 36px;
	height: 36px;
	cursor: pointer;
	color: #666;
	transition: all 100ms ease-in-out;

	&:hover {
		border: 1px solid #444;
		color: #444;
	}

	&:focus {
		outline: none;
		border: 1px solid #222;
		color: #222;
	}

	i {
		font-size: 18px;
	}
}
