.comment .Select-control .Select-value {
  background-color: #f6f6f6;
  border-radius: 2px;
  border: 1px solid #ddd;
}
.comment .Select-control .Select-value-icon {
  border-right: 1px solid #ddd;
}
.comment .Select-control .Select-value-icon:hover {
  background-color: rgba(192, 192, 192, 0.43);
  border-right: 1px solid #ddd;
  color: #303030;
}
