.add-comment {
	padding: 80px 80px;
	background: #f6f6f6;

	.add-comment-form {
		padding: 0 5% 0 5%;

		form {
			background-color: #ffffff;
		}

		.form-element {
			width: 90% !important;
			margin: 0 5%;
		}
	}

	// .add-comment-reader {
	// 	padding: 0 5% 0 5%;
	// 	height:500px;
	// }
}

// .context-reader {
// 	z-index:1;
// 	background:@light;
// 	padding:20px 30px;
// 	height:500px;
// 	min-width:200px;
// 	max-width:580px;

// 	.lemma-text-wrap {
// 		height: 80%;
// 		overflow: auto;
// 	}
// }

.add-comment-layout {
	padding: 110px 0 0 0;
}

.add-comment-title span {
	font-family: 'Proxima N W01 At Smbd';
    font-size: 28px;
    color: rgba(0, 0, 0, 0.8);
}

.add-comment-text {
	font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 1.76em;
    width: 100%;
    margin: 0;
    max-width: 1000px;
    word-break: break-word;

    span {
		font-family: 'Merriweather', serif;
	    font-size: 18px;
	    line-height: 1.76em;
	    width: 100%;
	    margin: 0;
	    max-width: 1000px;
	    word-break: break-word;
	}
}

.add-comment-button {
	padding-top: 30px;
}

.add-comment-snackbar {
	span {
		color: #ffffff;
	}
}

.before-link {
    text-align: center;
    margin: 20px 0;
}

.after-link {
    text-align: center;
    margin: 20px 0;
}