.add-comment {
	padding: 80px 80px;
	background: #f6f6f6;

	.add-comment-form {
		padding: 0 5% 0 5%;

		form {
			background-color: #ffffff;
		}

		.form-element {
			width: 90% !important;
			margin: 0 5%;
		}
	}

	// .add-comment-reader {
	// 	padding: 0 5% 0 5%;
	// 	height:500px;
	// }
}

// .context-reader {
// 	z-index:1;
// 	background:@light;
// 	padding:20px 30px;
// 	height:500px;
// 	min-width:200px;
// 	max-width:580px;

// 	.lemma-text-wrap {
// 		height: 80%;
// 		overflow: auto;
// 	}
// }