.axis path {
  display: none;
}

.y-axis line {
  stroke: #efebde;
  stroke-width: 1;
  opacity: .8;
}

.y-axis text {
  // display: none;
}

.heatmap-cell {
  stroke: #d7d1c0;
  cursor: pointer;
}

.heatmap-cell-selected {
  stroke: #d59518;
  stroke-width: 2px;
}

.heatmap-label-x {
  font: 12px sans-serif;
  font-family: Helvetica, sans-serif;
}

.heatmap-label-y {
  font: 12px sans-serif;
  font-family: Helvetica, sans-serif;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 220px;
  height: 18px;
  padding: 2px;
  font: 12px sans-serif;
  font-family: Helvetica, sans-serif;
  color: #333333;
  background: #d59518;
  border: 0px;
  border-radius: 1px;
  pointer-events: none;
}
