.keyword {
  background:@light;
  display:inline-block;
  vertical-align:top;
  padding:15px 25px;
  margin:7px;
  border-top:2px solid @primary;
  width:40%;
  text-align:left;

  &:hover, &:focus {

  }

  md-card-title {
	width:100%;
	display:inline-block;
	vertical-align: top;
	text-align:left;
  }
  md-card-content {
	width:100%;
	display:inline-block;
	vertical-align: top;
	float:right;
	text-align:right;
	margin:0;
	padding:5px 0;
  }

  .keyword-title {
	color:@primary-text;
  font-family:@font-body;
  font-size:22px;
	text-transform:uppercase;
	margin-right:10px;
	display:inline-block;
	padding:10px 0 5px;
	vertical-align: top;

	&:hover {
	  color:@primary;
	}

  }

  .keyword-comment-count {
	font-size:16px;
	font-weight:light;
	color:#999;
	display:inline-block;
	vertical-align: top;
	margin:0;
	padding:15px 0 0 0;

  }

  .keyword-description{
	display:block;
	color:#aaa;
  font-family:@font-commentary;
  font-size:16px;
	line-height:1.5em;
	width:97%;
	margin:0 auto;
	padding-bottom:30px;
	text-align:left;

  }

  .md-card-title {
	display:inline-block;
  }



}

.page-keywords {
  .page-content {

	width:100%;
	max-width:1200px;
	margin:20px auto;
	text-align:center;

	.keyword {
	  .keyword-subheader {
		margin:10px 0;
	  }

	}

  }


}
section.keyword-single {
  background:@background-gray;


}
