#editor {
  position: relative;
  min-width: 200px;
  min-height: 200px;
	margin: 0px auto;
	padding: 20px 10px;
}

.content {
	line-height: 1.5em;
	font-size: 18px;
}

div[data-block="true"] {
	padding: 6px 0;
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
  z-index: 0;
	padding-top: 10px;
}

.public-DraftEditorPlaceholder-inner {
  color: #999;
}

.DraftEditor-editorContainer {
  position: relative;
  z-index: 1;
}
