body { 
    background: #COULEURARRIEREPLAN;
    color: #COULEURPOLICE;
}

blockquote {
    border-top: 2px solid;/*border : 2px solid #000;*/
    border-left: 2px solid;/*border : 2px solid #000;*/
    border-color: #CODECOULEUR;
}

#main { 
    background: #COULEURFOND url(main.png) repeat-y;
    color: #COULEURPOLICE;
}

#links, #footer, #menu li a { 
    background: #COULEURENTREARRIEREETFOND url(gradient.png);
    color: #COULEURPOLICE;
    border-color: #CODECOULEUR;
}

#links a, #footer a { 
    background: transparent;
    color: #COULEURPOLICE;
}

#links a:hover, #footer a:hover { 
    background: transparent;
    color: #CODECOULEUR;
}

#logo { 
    background: #COULEURPOLICELOGOETSURMENU url(logo.jpg) no-repeat;
    color: #COULEURPOLICE;
    border-color: #CODECOULEUR;
}

h1, #column1 h1, #column2 h1{ 
    background: transparent;
    color: #CODECOULEUR;
    /*border-color: #787878;*/
}

#menu{ 
    background: transparent;
    color: #COULEURPOLICE;
}

.sidebaritem{ 
    background: #COULEURENTREARRIEREETFOND;
    color: #COULEURPOLICE;
}

#menu li a:hover, #menu li a#selected, #menu li a#selected:hover{ 
    background: #CODECOULEUR;
    color: #COULEURPOLICELOGOETSURMENU;
} 

#content, #column2{  
    background: #COULEURFOND;
    color: #COULEURPOLICE;
    border-color: #COULEURPOLICE;
}

#column2 a {
/*    background: #COULEURFOND; */
    color: #COULEURPOLICE;
    border-color: #COULEURPOLICE;
}

#column2 a:hover{ 
/*    background: #COULEURFOND;*/
    color: #CODECOULEUR;
    border-color: #CODECOULEUR;
}

.sbilinks li a, .sidebaritem a{ 
    background: #COULEURENTREARRIEREETFOND url(fleche_COULEURFLECHE.png) no-repeat left center;
    color: #COULEURPOLICE;
} 

.sbilinks li a:hover, .sidebaritem a:hover{ 
    background: #COULEURENTREARRIEREETFOND url(fleche_NOMCOULEUR.png) no-repeat left center;
    color: #CODECOULEUR;
} 

/* Based on Nifty Corners: rounded corners without images */
/* By Alessandro Fulciniti */
/* http://www.html.it/articoli/nifty/index.html */
.rtop, .rbottom {
    background: #COULEURFOND;
}
.rtop .r1, .rtop .r2, .rtop .r3, .rtop .r4,
.rbottom .r1, .rbottom .r2, .rbottom .r3, .rbottom .r4 {
    background: #COULEURENTREARRIEREETFOND;
}


/* ======================================================= */
/* Ajouté par François Recher */
/* ======================================================= */

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
/*    width: 100%;    */
}
.table {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
/*    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         */
}

.table tr:hover {
    background: #COULEURARRIEREPLAN;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.table td, .table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    /*text-align: left;   */
}

.table th {
    /*dce9f9;*/
    /*color:#COULEURFOND;*/
    background-color: #CODECOULEUR;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#COULEURARRIEREPLAN), to(CODECOULEUR));
    background-image: -webkit-linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    background-image:    -moz-linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    background-image:     -ms-linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    background-image:      -o-linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    background-image:         linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    /*    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
	  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
	  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        */
    border-top: none;
/*    text-shadow: 0 1px 0 rgba(255,255,255,.5); */
}

.table td:first-child, .table th:first-child {
    border-left: none;
}

.table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.table th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

hr {
    height:1px;
    width:90%;
    border:0px;
    background-color: #CODECOULEUR;
}


.attirer {
   color: #CODECOULEUR;
}

.nonattirer {
   color: #COULEURPOLICE;
}



.tableval {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
/*    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         */
}

.tableval tr:hover {
    background: #COULEURARRIEREPLAN;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.tableval td, .tableval th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
/*    padding: 10px;*/
    /*text-align: left;   */
}

.tableval th {
    /*dce9f9;*/
    /*color:#COULEURFOND;*/
    background-color: #CODECOULEUR;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#COULEURARRIEREPLAN), to(CODECOULEUR));
    background-image: -webkit-linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    background-image:    -moz-linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    background-image:     -ms-linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    background-image:      -o-linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    background-image:         linear-gradient(top, #COULEURARRIEREPLAN, #CODECOULEUR);
    /*    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
	  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
	  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        */
    border-top: none;
/*    text-shadow: 0 1px 0 rgba(255,255,255,.5); */
}

.tableval td:first-child, .tableval th:first-child {
    border-left: none;
}

.tableval th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.tableval th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.tableval th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.tableval tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.tableval tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}





//fr tooltip

.tooltip-container {
    outline:none;
	position:relative;	/* Forces tooltip to be relative to the element, not the page */
/*	cursor:help;*/		/* Makes you cursor have the help symbol */
}

.tooltip {
	display:block;
	position:absolute;
	margin-top:-92px;
	margin-left:-241px;
	
	width:500px;/*
	padding:5px 15px;
	left:20px;
	bottom:25px;
	margin-left:-95px;*/
	/* Tooltip Style */
	color:#fff;
	border:2px solid rgba(34,34,34,0.9);
	background:rgba(51,51,51,0.9);
	text-align:left;
	border-radius:3px;
	/* Tooltip Style */
	opacity:0;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.3);
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-0-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	-ms-transform:scale(0);
	transform:scale(0);
	/* reset tooltip, to not use container styling */
	font-size:12px;
	font-weight:normal;
	font-style:normal;
}

.tooltip:before, .tooltip:after{
	content:'';
	position:absolute;
	bottom:-13px;
	left:50%;
	margin-left:-9px;
	width:0;
	height:0;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid rgba(0,0,0,0.1);
}
.tooltip:after{
	bottom:-12px;
	margin-left:-10px;
	border-top:10px solid rgba(34,34,34,0.9);
}

.tooltip-container:hover .tooltip, a:hover .tooltip {
	/* Makes the Tooltip slightly transparent, Lets the barely see though it */
	opacity:0.9;
	/* Changes the scale from 0 to 1 - This is what animtes our tooltip! */
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}

/* Pure CSS3 Animated Tooltip - Custom Classes
---------------------------------------------------- */
.tooltip-R {
	color:#000;
	border:2px solid #fff;
	background:rgba(248,189,189,0.9);
}
.tooltip-R:after{
	border-top:10px solid #fff;
}
.tooltip-O {
	color:#000;
	border:2px solid #fff;
	background:rgba(248,236,189,0.9);
}
.tooltip-O:after{
	border-top:10px solid #fff;
}
.tooltip-V {
	color:#000;
	border:2px solid #fff;
	background:rgba(213,248,189,0.9);
}
.tooltip-V:after{
	border-top:10px solid #fff;
}
