/*
 * Index styles
 */
/******************************************************************************

						  ___ _  _ ___
						 / __| || / __|
						| (__| __ \__ \
						 \___|_||_|___/

  		The Center for Hellenic Studies


 |  Style Variables for A Homer Commentary in Progress and CHS Annotations
 |
 |   1. Colors
 |   2. Typography
 |   3. Mixins


******************************************************************************/
/******************************************************************************

1. Colors

******************************************************************************/
/******************************************************************************

1.1 Base Colors

******************************************************************************/
/******************************************************************************

1.2 Brand Colors

******************************************************************************/
/******************************************************************************

1.3 Text Colors

******************************************************************************/
/******************************************************************************

2. Typography

Available Fonts:

=================================
Google Fonts
=================================
font-family: 'Gentium Basic', serif;
font-family: 'Merriweather', serif;


=================================
Fonts.com
=================================
font-family:'Museo Sans W01_900';
font-family:'ProximaNW01-AltLightReg';
font-family:'Proxima N W01 At Smbd';
font-family:'Museo W01_700';
font-family:'Proxima N W01 Thin Reg';
font-family:'Proxima Nova W08 Reg';
font-family:'Proxima Nova W15 Medium';
font-family:'Proxima Nova W07 Semibold';
font-family:'Proxima Nova W07 Bold';
font-family:'Proxima Nova W07 Extrabold';
font-family:'Proxima Nova W07 Black';

=================================
Material Design Icons
=================================
font-family: "Material Design Icons";

******************************************************************************/
/******************************************************************************

2.1 Base Fonts

******************************************************************************/
/******************************************************************************

2.2 Title Fonts

******************************************************************************/
/******************************************************************************

2.3 Reading Environment Fonts

******************************************************************************/
/******************************************************************************

2.4 Material Design Icons

******************************************************************************/
@font-face {
  font-family: "Material Design Icons";
  src: url("fonts/materialdesignicons-webfont.eot?v=1.7.22");
  src: url("fonts/materialdesignicons-webfont.eot?#iefix&v=1.7.22") format("embedded-opentype"), url("fonts/materialdesignicons-webfont.woff2?v=1.7.22") format("woff2"), url("fonts/materialdesignicons-webfont.woff?v=1.7.22") format("woff"), url("fonts/materialdesignicons-webfont.ttf?v=1.7.22") format("truetype"), url("fonts/materialdesignicons-webfont.svg?v=1.7.22#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/******************************************************************************

3. Mixins

******************************************************************************/
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
section {
  margin: 0px auto;
}
section .container {
  position: relative;
  z-index: 1;
}
section.parallax > .background-image-holder,
section.parallax .slides li > .background-image-holder {
  transition: opacity 300ms ease, filter 1000ms ease, -webkit-filter 1000ms ease !important;
}
section h2 {
  font-size: 34px;
  padding: 60px 30px;
  font-weight: 300;
  margin: 0px auto 50px;
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
}
section p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 1.8em;
  width: 90%;
  max-width: 700px;
  margin: 0px auto;
  padding: 20px 0;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
}
section p a {
  text-decoration: none;
  border-bottom: 1px solid #BBDEFB;
  box-shadow: inset 0 -4px 0 #BBDEFB;
  font-weight: inherit;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
section p a:hover {
  border-bottom: none;
  box-shadow: none;
}
section .block-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.6));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.6));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.6));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 0.4) 90%, rgba(0, 0, 0, 0.6));
}
section .block-screen.brown {
  background-color: rgba(62, 39, 35, 0.7);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(62, 39, 35, 0.7)), to(rgba(62, 39, 35, 0.7)));
  background: -webkit-linear-gradient(top, rgba(62, 39, 35, 0.7), rgba(62, 39, 35, 0.5) 10%, rgba(62, 39, 35, 0.5) 90%, rgba(62, 39, 35, 0.7));
  background: -moz-linear-gradient(top, rgba(62, 39, 35, 0.7), rgba(62, 39, 35, 0.5) 10%, rgba(62, 39, 35, 0.5) 90%, rgba(62, 39, 35, 0.7));
  background: -ms-linear-gradient(top, rgba(62, 39, 35, 0.7), rgba(62, 39, 35, 0.5) 10%, rgba(62, 39, 35, 0.5) 90%, rgba(62, 39, 35, 0.7));
  background: -o-linear-gradient(top, rgba(62, 39, 35, 0.7), rgba(62, 39, 35, 0.5) 10%, rgba(62, 39, 35, 0.5) 90%, rgba(62, 39, 35, 0.7));
}
section .block-screen.light-brown {
  background-color: rgba(94, 63, 55, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(94, 63, 55, 0.6)), to(rgba(94, 63, 55, 0.6)));
  background: -webkit-linear-gradient(top, rgba(94, 63, 55, 0.6), rgba(94, 63, 55, 0.4) 10%, rgba(94, 63, 55, 0.4) 90%, rgba(94, 63, 55, 0.6));
  background: -moz-linear-gradient(top, rgba(94, 63, 55, 0.6), rgba(94, 63, 55, 0.4) 10%, rgba(94, 63, 55, 0.4) 90%, rgba(94, 63, 55, 0.6));
  background: -ms-linear-gradient(top, rgba(94, 63, 55, 0.6), rgba(94, 63, 55, 0.4) 10%, rgba(94, 63, 55, 0.4) 90%, rgba(94, 63, 55, 0.6));
  background: -o-linear-gradient(top, rgba(94, 63, 55, 0.6), rgba(94, 63, 55, 0.4) 10%, rgba(94, 63, 55, 0.4) 90%, rgba(94, 63, 55, 0.6));
}
.scroll-down-helper {
  position: absolute;
  bottom: 30px;
  right: 40px;
  z-index: 10;
  width: 400px;
  text-align: right;
  opacity: 0.4;
}
.scroll-down-helper p {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 14px;
  line-height: 1.3em;
  text-align: right;
}
.scroll-down-helper .mdi {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  padding: 19px 5px;
  font-size: 22px;
}
.fadeInBlock {
  opacity: 0;
}
section.header {
  position: relative;
  padding: 0;
  background-color: #5D4037;
}
section.header .center-content {
  width: 100%;
  text-align: left;
  color: #fff;
  padding: 0 0 180px 0;
}
section.header .center-content .site-title {
  font-family: 'Museo Sans W01_900', sans-serif;
  font-size: 4.5em;
  font-weight: 900;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  line-height: 1.2em;
  padding: 20px 0;
  text-shadow: 2px 2px rgba(78, 52, 46, 0.4);
  text-align: left;
  max-width: 700px;
}
section.header .center-content .site-subtitle {
  display: block;
  font-size: 24px;
  max-width: 660px;
  color: #fff;
  line-height: 1.2em;
  padding: 20px 0;
}
section.header .center-content .direct-down {
  display: block;
  margin-top: 100px;
  text-align: center;
  font-size: 80px;
  cursor: pointer;
}
section.header .center-content .direct-down:hover {
  margin-top: 102px;
}
.cover-link {
  display: inline-block;
  margin: 10px 10px 10px 0;
  color: #fff;
  border-radius: 0px !important;
  border: 2px solid #fff;
}
.cover-link button,
.cover-link a {
  border-radius: 0px !important;
  height: auto !important;
}
.cover-link button > div > div,
.cover-link a > div > div {
  padding: 10px 20px !important;
  height: auto !important;
}
.cover-link button span,
.cover-link a span {
  font-family: 'Proxima Nova', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700 !important;
}
.cover-link span {
  font-family: 'Proxima Nova', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.cover-link:hover {
  background: #5D4037 !important;
  color: #fff !important;
  border: 2px solid #5D4037 !important;
}
.cover-link.learn-more {
  background-color: #5D4037 !important;
  border: 2px solid #5D4037;
  color: #fff;
}
.cover-link.learn-more button,
.cover-link.learn-more a {
  background-color: #5D4037 !important;
}
.cover-link.learn-more button span,
.cover-link.learn-more a span {
  color: #fff !important;
}
.cover-link.learn-more:hover {
  background: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}
.cover-link.learn-more:hover button {
  background-color: transparent !important;
}
.cover-link.learn-more:hover span {
  color: #fff !important;
}
.cover-link.go-to-commentary {
  background: #4994c9;
  border: 2px solid #4994c9;
  color: #fff;
}
.cover-link.go-to-commentary button,
.cover-link.go-to-commentary a {
  background-color: #4994c9 !important;
}
.cover-link.go-to-commentary button span,
.cover-link.go-to-commentary a span {
  color: #fff !important;
}
.cover-link.go-to-commentary:hover {
  background: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}
.cover-link.go-to-commentary:hover button {
  background-color: transparent !important;
}
.cover-link.go-to-commentary:hover button span {
  color: #fff !important;
}
.cover-link.accent {
  background: #63232D;
  border: 2px solid #63232D;
  color: #fff;
}
.cover-link.accent:hover {
  background: #331310 !important;
  border: 2px solid #331310 !important;
  color: #fff !important;
}
.cover-link.dark {
  background: #fff;
  border: 2px solid #1e1e1e;
  color: #1e1e1e;
}
.cover-link.dark span {
  color: #1e1e1e;
}
.cover-link.dark:hover {
  background: #331310 !important;
  border: 2px solid #331310 !important;
  color: #fff !important;
}
.cover-link.dark:hover span {
  color: #fff !important;
}
section.intro {
  background: #fff;
}
section.intro .intro-col {
  display: inline-block;
  vertical-align: top;
}
section.intro .intro-col-text {
  width: 38%;
  text-align: right;
}
section.intro .intro-col-image {
  width: 45%;
  margin-left: 4%;
}
section.intro .intro-block-header {
  margin-bottom: 16px;
}
section.intro .intro-block-desc {
  color: rgba(0, 0, 0, 0.8);
}
section.intro .intro-block-link.cover-link.dark {
  padding: 0;
  margin-right: 0 !important;
  border: 2px solid #1e1e1e;
  color: #1e1e1e;
}
section.intro .intro-block-link.cover-link.dark span {
  font-size: 12px !important;
}
section.intro .intro-block-link.cover-link.dark a > div > div {
  padding: 5px 10px !important;
}
section.intro .intro-block-link.cover-link.dark:hover {
  background: #795548 !important;
  border: 2px solid #795548 !important;
  color: #fff !important;
}
section.intro .intro-block-link.cover-link.dark:hover a {
  background: #795548 !important;
}
section.intro .intro-col-image .caption p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #727272;
  font-family: 'Proxima Nova', sans-serif;
  width: 100%;
  max-width: none;
}
section.goals {
  padding: 100px 0;
  background-color: #63232D;
  text-align: center;
}
section.goals .goal {
  color: #fff;
  width: 26%;
  margin: 0 2%;
  padding: 20px 0;
}
section.goals .goal img {
  width: 45%;
}
section.goals .goal .goal-text {
  padding: 20px;
}
section.goals .goal h3 {
  color: #fff;
  cursor: default;
}
section.goals .goal .goal-desc {
  color: #ddd;
  padding: 10px 0;
}
section.keywords {
  background: #5D4037;
  padding: 140px 0 100px;
}
section.keywords.keyideas {
  background: #3E2723;
  padding: 100px 0 160px;
}
section.keywords h2 {
  padding: 0;
  color: #fff;
}
section.keywords .keywords {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}
.background-gray {
  background: #f6f6f6;
}
.show-more {
  color: #fff;
}
.show-more {
  margin-top: 60px;
}
.show-more span {
  font-size: 20px;
}
section.browse-commentary {
  background: url('/assets/marble_background.png');
}
section.browse-commentary .visualizations-coaching-text {
  font-size: 16px;
  font-family: 'Merriweather', serif;
  font-weight: 100;
  line-height: 1.6em;
  display: block;
  max-width: 630px;
  width: 90%;
  margin: 15px auto;
  color: #727272;
}
section.browse-commentary .data-visualization-container {
  max-width: 1000px;
  margin: 15px auto;
}
section.browse-commentary .data-visualization-container img {
  width: 100%;
  margin: 15px auto 50px;
}
.commentary-text {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 60px;
  text-align: left;
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: block;
  clear: both;
}
.commentary-text.hymns .text-subwork .subwork-inner:hover .subwork-alpha {
  transform: rotate(180deg) scaleX(0.5);
  opacity: 0;
}
.commentary-text.hymns .text-subwork .subwork-inner:hover .subwork-num {
  transform: rotate(0deg) scaleX(1);
  opacity: 1;
}
.commentary-text .text-title {
  width: 100%;
  margin: 0 auto;
  font-family: 'Proxima Nova', sans-serif 42px;
  text-align: center;
}
.commentary-text .text-divider {
  margin: 25px auto;
  width: 100%;
  max-width: 200px;
  height: 4px;
  background: #795548;
}
.commentary-text .text-meta {
  text-align: center;
  padding: 20px 0;
}
.commentary-text .text-meta a {
  display: inline-block;
  font-style: italic;
  padding: 5px 10px;
}
.commentary-text .text-meta a span {
  color: #727272;
}
.commentary-text .text-subworks {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}
section.commentors {
  background-color: #5D4037;
  background: #fff;
}
section.commentors h2 {
  color: #fff;
  padding: 60px 0 20px;
}
section.commentors .cover-link.show-more {
  background: #4994c9;
  border: 2px solid #4994c9;
  color: #fff;
}
section.commentors .cover-link.show-more button,
section.commentors .cover-link.show-more a {
  background-color: #4994c9 !important;
}
section.commentors .cover-link.show-more button span,
section.commentors .cover-link.show-more a span {
  color: #fff !important;
}
section.commentors .cover-link.show-more:hover {
  background: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}
section.commentors .cover-link.show-more:hover button,
section.commentors .cover-link.show-more:hover a {
  background-color: transparent !important;
}
section.commentors .cover-link.show-more:hover button span,
section.commentors .cover-link.show-more:hover a span {
  color: #fff !important;
}
section.page-content .cover-link.show-more {
  background: #4994c9;
  border: 2px solid #4994c9;
  color: #fff;
}
section.page-content .cover-link.show-more button,
section.page-content .cover-link.show-more a {
  background-color: #4994c9 !important;
}
section.page-content .cover-link.show-more button span,
section.page-content .cover-link.show-more a span {
  color: #fff !important;
}
section.page-content .cover-link.show-more:hover {
  background: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}
section.page-content .cover-link.show-more:hover button,
section.page-content .cover-link.show-more:hover a {
  background-color: transparent !important;
}
section.page-content .cover-link.show-more:hover button span,
section.page-content .cover-link.show-more:hover a span {
  color: #fff !important;
}
section.get-started {
  background: #f6f6f6;
}
section.get-started h2.block-title {
  padding-bottom: 0;
  margin-bottom: 0;
}
section.get-started .comment-reference a {
  box-shadow: none;
}
section.get-started .lemma-panel {
  text-align: left;
}
section.get-started article.lemma-comment p.lemma-text {
  line-height: 1.3em;
}
section.get-started .cover-link.show-more {
  background: #4994c9;
  border: 2px solid #4994c9;
  color: #fff;
}
section.get-started .cover-link.show-more button,
section.get-started .cover-link.show-more a {
  background-color: #4994c9 !important;
}
section.get-started .cover-link.show-more button span,
section.get-started .cover-link.show-more a span {
  color: #fff !important;
}
section.get-started .cover-link.show-more:hover {
  background: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}
section.get-started .cover-link.show-more:hover button,
section.get-started .cover-link.show-more:hover a {
  background-color: transparent !important;
}
section.get-started .cover-link.show-more:hover button span,
section.get-started .cover-link.show-more:hover a span {
  color: #fff !important;
}
_:-ms-lang(x),
.hvr-grow {
  transition-duration: 0s !important;
}
