/*
 * Shared styles for single articles and projects
 */
.align-center {
  display: block;
  padding: 20px;
  text-align: center;
}
.align-right {
  float: right;
  padding: 20px 0 20px 40px;
}
.align-left {
  float: left;
  padding: 20px 40px 20px 0px;
}
.width-half {
  width: 50%;
}
.width-one-third {
  width: 33%;
}
.width-two-thirds {
  width: 66%;
}
.width-full {
  width: 100%;
}
