/******************************************************************************

						  ___ _  _ ___
						 / __| || / __|
						| (__| __ \__ \
						 \___|_||_|___/

  		The Center for Hellenic Studies


 |  Style Variables for A Homer Commentary in Progress and CHS Annotations
 |
 |   1. Colors
 |   2. Typography
 |   3. Mixins


******************************************************************************/
/******************************************************************************

1. Colors

******************************************************************************/
/******************************************************************************

1.1 Base Colors

******************************************************************************/
/******************************************************************************

1.2 Brand Colors

******************************************************************************/
/******************************************************************************

1.3 Text Colors

******************************************************************************/
/******************************************************************************

2. Typography

Available Fonts:

=================================
Google Fonts
=================================
font-family: 'Gentium Basic', serif;
font-family: 'Merriweather', serif;


=================================
Fonts.com
=================================
font-family:'Museo Sans W01_900';
font-family:'ProximaNW01-AltLightReg';
font-family:'Proxima N W01 At Smbd';
font-family:'Museo W01_700';
font-family:'Proxima N W01 Thin Reg';
font-family:'Proxima Nova W08 Reg';
font-family:'Proxima Nova W15 Medium';
font-family:'Proxima Nova W07 Semibold';
font-family:'Proxima Nova W07 Bold';
font-family:'Proxima Nova W07 Extrabold';
font-family:'Proxima Nova W07 Black';

=================================
Material Design Icons
=================================
font-family: "Material Design Icons";

******************************************************************************/
/******************************************************************************

2.1 Base Fonts

******************************************************************************/
/******************************************************************************

2.2 Title Fonts

******************************************************************************/
/******************************************************************************

2.3 Reading Environment Fonts

******************************************************************************/
/******************************************************************************

2.4 Material Design Icons

******************************************************************************/
@font-face {
  font-family: "Material Design Icons";
  src: url("fonts/materialdesignicons-webfont.eot?v=1.7.22");
  src: url("fonts/materialdesignicons-webfont.eot?#iefix&v=1.7.22") format("embedded-opentype"), url("fonts/materialdesignicons-webfont.woff2?v=1.7.22") format("woff2"), url("fonts/materialdesignicons-webfont.woff?v=1.7.22") format("woff"), url("fonts/materialdesignicons-webfont.ttf?v=1.7.22") format("truetype"), url("fonts/materialdesignicons-webfont.svg?v=1.7.22#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/******************************************************************************

3. Mixins

******************************************************************************/
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
footer {
  clear: both;
  color: #fff;
  padding: 80px 0 100px;
  text-align: center;
  width: 100%;
  position: relative;
  background-color: #333;
}
footer a,
footer a.md-button {
  color: #fff;
}
footer a span,
footer a.md-button span {
  color: #fff;
}
footer a:hover,
footer a.md-button:hover {
  color: rgba(255, 255, 255, 0.95);
}
footer a:hover span,
footer a.md-button:hover span {
  color: rgba(255, 255, 255, 0.95);
}
footer .footer-nav-row {
  padding: 0 0 60px;
}
footer .logo {
  font-size: 42px;
  margin: 0 auto;
  text-align: right;
  color: #fff;
}
footer p.lead {
  text-align: left;
  color: #fff;
}
footer p.lead a {
  text-decoration: underline;
}
footer p.lead a:hover {
  text-decoration: none;
}
footer .footer-nav-links a.md-button {
  padding: 15px 20px;
  margin: 0px;
}
footer .copyright {
  clear: both;
  display: block;
  color: #eee;
  font-size: 14px;
  margin: 10px 0;
}
footer .copyright a {
  color: #fff;
  text-decoration: underline;
}
footer .copyright a:hover {
  text-decoration: none;
}
footer .site-logo {
  -webkit-filter: grayscale(1) brightness(5);
  -moz-filter: grayscale(1) brightness(5);
  -o-filter: grayscale(1) brightness(5);
  -ms-filter: grayscale(1) brightness(5);
  filter: grayscale(1) brightness(5);
  width: 77px;
}
footer .footer-nav-links {
  padding: 30px 0 15px;
}
footer .footer-nav-links a,
footer .footer-nav-links div {
  display: inline-block;
  vertical-align: top;
}
footer .footer-nav-links a {
  font-family: 'Proxima Nova', sans-serif !important;
  height: auto !important;
  margin: 0 2px !important;
}
footer .social-list {
  padding: 15px 0 40px;
}
footer .social-list li {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
}
footer .social-list li a {
  display: block;
  border-radius: 100px;
}
footer .social-list li a .mdi {
  vertical-align: middle;
  color: #fff;
}
footer .social-list li a .mdi:before {
  font-size: 36px;
}
footer .social-list li a:hover {
  background: #fff;
  color: #795548;
}
footer .social-list li a:hover span,
footer .social-list li a:hover a {
  color: #795548;
}
