@import '../variables.import.less';


.book-and-chapter-container {
	display: flex;
	vertical-align: middle;
    height: 100%;
}
.book-and-chapter-button {
	border: none;
	padding: 5px;
	background: transparent;
    color: #795548;
}
.book-and-chapter-button svg {
	border: none;
	padding: 0;
	width: 24px !important;
	height: 24px !important;
}
.book-and-chapter-text {
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
    margin: 0 5px;
    font-size: 15px;
	letter-spacing: 1px;
}
.pagination {
	clear:both;
	width:50%;
	margin:0 auto;
	a {
		background:@dark-1;
		text-decoration: none;
		&:hover {
			background:@dark-2;
		}
	}
	.seq-page {
		display:inline-block;
		vertical-align: top;
		a {
			//border-top:1px solid @light-1;
			font-family:@font-lemma;
			color:@light;
			display:block;
			//margin:10px 50px;
			vertical-align: top;
			font-size:20px;
			text-transform: uppercase;
			padding:30px;
		}
		span.fa {
			font-size:12px;
			padding:8px 15px;
			vertical-align: top;
		}
	}
	.prev-page {
		float:left;
		a {
			text-align:right;
		}
	}
	.next-page {
		float:right;
		a {
			text-align:left;
		}
	}
}
