/******************************************************************************

						  ___ _  _ ___
						 / __| || / __|
						| (__| __ \__ \
						 \___|_||_|___/

  		The Center for Hellenic Studies


 |  Style Variables for A Homer Commentary in Progress and CHS Annotations
 |
 |   1. Colors
 |   2. Typography
 |   3. Mixins


******************************************************************************/
/******************************************************************************

1. Colors

******************************************************************************/
/******************************************************************************

1.1 Base Colors

******************************************************************************/
/******************************************************************************

1.2 Brand Colors

******************************************************************************/
/******************************************************************************

1.3 Text Colors

******************************************************************************/
/******************************************************************************

2. Typography

Available Fonts:

=================================
Google Fonts
=================================
font-family: 'Gentium Basic', serif;
font-family: 'Merriweather', serif;


=================================
Fonts.com
=================================
font-family:'Museo Sans W01_900';
font-family:'ProximaNW01-AltLightReg';
font-family:'Proxima N W01 At Smbd';
font-family:'Museo W01_700';
font-family:'Proxima N W01 Thin Reg';
font-family:'Proxima Nova W08 Reg';
font-family:'Proxima Nova W15 Medium';
font-family:'Proxima Nova W07 Semibold';
font-family:'Proxima Nova W07 Bold';
font-family:'Proxima Nova W07 Extrabold';
font-family:'Proxima Nova W07 Black';

=================================
Material Design Icons
=================================
font-family: "Material Design Icons";

******************************************************************************/
/******************************************************************************

2.1 Base Fonts

******************************************************************************/
/******************************************************************************

2.2 Title Fonts

******************************************************************************/
/******************************************************************************

2.3 Reading Environment Fonts

******************************************************************************/
/******************************************************************************

2.4 Material Design Icons

******************************************************************************/
@font-face {
  font-family: "Material Design Icons";
  src: url("fonts/materialdesignicons-webfont.eot?v=1.7.22");
  src: url("fonts/materialdesignicons-webfont.eot?#iefix&v=1.7.22") format("embedded-opentype"), url("fonts/materialdesignicons-webfont.woff2?v=1.7.22") format("woff2"), url("fonts/materialdesignicons-webfont.woff?v=1.7.22") format("woff"), url("fonts/materialdesignicons-webfont.ttf?v=1.7.22") format("truetype"), url("fonts/materialdesignicons-webfont.svg?v=1.7.22#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/******************************************************************************

3. Mixins

******************************************************************************/
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
.md-sidenav-left {
  background-color: #f6f6f6;
}
.md-sidenav-left a {
  width: 100%;
  text-align: left;
  padding: 3px 0;
  border-bottom: #fefefe;
  font-family: 'Proxima N W01 At Smbd', sans-serif !important;
}
.md-sidenav-left a i,
.md-sidenav-left a span {
  display: inline-block;
  vertical-align: top;
}
.md-sidenav-left a i {
  font-size: 26px;
  padding: 11px 15px 0 24px;
}
.md-sidenav-left a span {
  font-size: 17px;
  padding: 5px 10px;
  font-family: 'Proxima N W01 At Smbd', sans-serif !important;
}
.md-sidenav-left hr {
  margin-bottom: 5px;
}
.sidenav-top {
  padding: 100px 10px 0px;
  margin: 0 0 6px;
  text-align: left;
  background: #331310;
  width: 100%;
  position: relative;
}
.sidenav-top .user-image,
.sidenav-top .user-fullname {
  display: inline-block;
  vertical-align: top;
}
.sidenav-top .user-fullname {
  text-overflow: ellipsis;
  font-family: 'Proxima Nova W08 Reg', sans-serif;
  font-size: 20px;
  color: #fff;
  width: 220px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}
.sidenav-top .user-image {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  overflow: hidden;
  margin: 0 10px 0px 0;
  position: relative;
  bottom: 10px;
}
.sidenav-top .user-image img {
  width: 100%;
}
