/******************************************************************************

						  ___ _  _ ___
						 / __| || / __|
						| (__| __ \__ \
						 \___|_||_|___/

  		The Center for Hellenic Studies


 |  Style Variables for A Homer Commentary in Progress and CHS Annotations
 |
 |   1. Colors
 |   2. Typography
 |   3. Mixins


******************************************************************************/
/******************************************************************************

1. Colors

******************************************************************************/
/******************************************************************************

1.1 Base Colors

******************************************************************************/
/******************************************************************************

1.2 Brand Colors

******************************************************************************/
/******************************************************************************

1.3 Text Colors

******************************************************************************/
/******************************************************************************

2. Typography

Available Fonts:

=================================
Google Fonts
=================================
font-family: 'Gentium Basic', serif;
font-family: 'Merriweather', serif;


=================================
Fonts.com
=================================
font-family:'Museo Sans W01_900';
font-family:'ProximaNW01-AltLightReg';
font-family:'Proxima N W01 At Smbd';
font-family:'Museo W01_700';
font-family:'Proxima N W01 Thin Reg';
font-family:'Proxima Nova W08 Reg';
font-family:'Proxima Nova W15 Medium';
font-family:'Proxima Nova W07 Semibold';
font-family:'Proxima Nova W07 Bold';
font-family:'Proxima Nova W07 Extrabold';
font-family:'Proxima Nova W07 Black';

=================================
Material Design Icons
=================================
font-family: "Material Design Icons";

******************************************************************************/
/******************************************************************************

2.1 Base Fonts

******************************************************************************/
/******************************************************************************

2.2 Title Fonts

******************************************************************************/
/******************************************************************************

2.3 Reading Environment Fonts

******************************************************************************/
/******************************************************************************

2.4 Material Design Icons

******************************************************************************/
@font-face {
  font-family: "Material Design Icons";
  src: url("fonts/materialdesignicons-webfont.eot?v=1.7.22");
  src: url("fonts/materialdesignicons-webfont.eot?#iefix&v=1.7.22") format("embedded-opentype"), url("fonts/materialdesignicons-webfont.woff2?v=1.7.22") format("woff2"), url("fonts/materialdesignicons-webfont.woff?v=1.7.22") format("woff"), url("fonts/materialdesignicons-webfont.ttf?v=1.7.22") format("truetype"), url("fonts/materialdesignicons-webfont.svg?v=1.7.22#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/******************************************************************************

3. Mixins

******************************************************************************/
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
.css-spinner {
  margin: 00px auto;
  width: 90px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}
.css-spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.css-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.css-spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.css-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.css-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.well-spinner {
  width: 60px;
  height: 60px;
  margin: 0px auto;
  background-color: #795548;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
